<!--
    Jessica Kinghorn Mission 4
    Shared Layout Page 
    -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: azure" class="text-center">
    <!--Navigation Links-->
    <nav class="nav-link text-center">
        <a asp-controller="Home" asp-action="Index">Home Page |</a>
        <a asp-controller="Home" asp-action="Podcasts">My Podcasts |</a>
        <a asp-controller="Home" asp-action="NewMovieForm">Enter New Movie |</a>
        <a asp-controller="Home" asp-action="MovieList">View Movie List </a>
    </nav>

    @RenderBody()

</body>
</html>
